/*!
* Test Styles
* @author Jan Sanchez
*/

.some_selector{
	background-image: url(sprite.png?v=2014114);
	background-image: url("img/sprite.png?v=2014114");
	background-image: url('../img/sprite.png?v=2014114');
}
@font-face{
	font-family: 'gotham';
	src: url(../fonts/new.eot?v=2014114#ie);
	src: url("../fonts/new.abc.svg?v=2014114") format('svg'),
	 	 url('../fonts/new.ttf?v=2014114#fix') format('truetype'),
		 url("../fonts/new.svg?v=2014114#gotham") format('svg');
}