/*!
* Test Styles
* @author Jan Sanchez
*/

.some_selector{
	background-image: url(sprite.png?v=2015915);
	background-image: url("img/sprite.png?v=2015915");
	background-image: url('../img/sprite.png?v=2015915');
}
@font-face{
	font-family: 'gotham';
	src: url(../fonts/new.eot?v=2015915#ie);
	src: url("../fonts/new.abc.svg?v=2015915") format('svg'),
	 	 url('../fonts/new.ttf?v=2015915#fix') format('truetype'),
		 url("../fonts/new.svg?v=2015915#gotham") format('svg');
}
.error{
    background: url("Error");
}